html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(../img/escheresque_ste.png);
}

.page {
  overflow-y: scroll;
  width: 70%;
  height: 80%;
  margin: 10% 15% 0% 15%;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

h2 {
  color: #F3F3F3;
}

p {
  color: #F3F3F3;
  line-height: 1.2em;
  letter-spacing: 0.3px;
}

li {
  color: #F3F3F3;
  margin: 1em auto;
}

a {
  color: #2ECCFA;
  text-decoration: none;
}

.inline-ul li {
  display: inline-table;  
}

#main-controls {
  padding: 1em;
  display: table;
  right: 0;
  position: fixed;
}

#main-controls a {
  padding: 1em;
  line-height: 2em;
  text-decoration: none;
  color: #FCFCFC;
  opacity: 0.4;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#main-controls:hover a {
  opacity: 1;
}

#main-controls a:hover {
  color: #2ECCFA;
}

.control {
  position: fixed;
  color: #FCFCFC;
  opacity: 0.3;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.control:hover {
  opacity: 1;
}

#leftControl {
  left: 0;
  top: 40%;
}

#rightControl {
  right: 0;
  top: 40%;
}

#leftControl *, #rightControl * {
  display: inline-table;
}

#topControl {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 4em;
  white-space: nowrap;
}

#bottomControl {
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 4em;
  white-space: nowrap;
}

#tech div {
  margin-top: 1em;
  display: inline-table;
  padding-right: 1em;
}

#tech div h2 {
  margin: 0;
}

#tech div ul {
  margin-top: 0;
  display: inline-table;
}

#tech div ul li {
  
}