html {
  height: 100%;
}

body {
  overflow:hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(../img/grey_wash_wall.png);
}

.page {
  width: 80%;
  height: 80%;
  margin: 10%;
  overflow-y: scroll;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.control {
  position: fixed;
}

#leftControl {
  left: 0;
  top: 40%;
}

#rightControl {
  right: 0;
  top: 40%;
}

#topControl {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#bottomControl {
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}